
/* --------------- BOX SIZING */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* --------------- ROW CLEARFIX */
.row {
  width: 100%;
  margin-bottom: 10px;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  *zoom: 1;
}

/* --------------- COLUMN */
.column {
  width: 100%;
  float: left;
}

.column.flow-oposite {
  float: right;
}

/* --------------- CONTEINER */
.container {
  width: 420px;
  margin: auto;
  margin-top: 5px;
}

/* --------------- SMALL WIDTH */
@media (min-width: 610px) {
  .container {
    width: 600px;
  }
  .column.half {
    width: 50%;
  }
}

.artist:after,
.album:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.album, .artist {
  margin: 5px;
  padding: 5px;
}

}