<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>GlobantApp</title>

    <meta name="" content="">
    <meta name="" content="">

    <link href="css/normalize.css" rel="stylesheet" type="text/css" media="all">
    <link href="css/grid.css" rel="stylesheet" type="text/css" media="all">
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
    <!-- central container with user information -->
    <div class="container">
      <div class='row clearfix logo-container'>
        <div class='column'>
          <img class='logo' src='./img/icon.png'></img>
          <div></div>
        </div>
      </div>
      <div class='row clearfix'>
        <div class='column'>
          <input type='text' class='searcher' placeholder=" Write here.."></input>
        </div>
      </div>
      <div class='row clearfix'>
        <div class='column'>
          <button class='search-artist'>Search Artists</button>
          <button class='search-album'>Search Albums</button>
        </div>
      </div>
      <div class='row clearfix'>
        <div class='column'>
          <div class='result'></div>
        </div>
      </div>
    </div>

    <!-- album template -->
    <script type="text/template" id="album-template">
      <div class="album">
        <div class='data'>
          <img class='picture' src=<%=image%> ></img>
          <a target='new' href=<%=url%>><img class="icon" src='./img/logo.png'></img></a>
          <div class="info"> <h3><%=name%></h3> <h4><%=artist%></h4></div>
        </div>
        <div class='tracks'>
          <ol>
            <% _.each( tracks, function( track ){ %>
            <li>
             <h4><%=track.name%><h4><h5> <%=track.duration%> segundos.<h5>
            </li>
            <% }); %>
          </ol>
        </div>
      </div>
    </script>

    <!-- artist template -->
    <script type="text/template" id="artist-template">
      <div class="artist">
        <img class='picture' src=<%=image%> ></img>
        <a target='new' href=<%=url%>><img class="icon" src='./img/logo.png'></img></a>
        <div class="info"><h3><%=name%></h3>
        </div>
      </div>
    </script>

    <!-- track template -->
    <script type="text/template" id="track-template">
     <div class="tracks">

      </div>
    </script>

    <!-- main script -->
    <script data-main="js/main.js" src="js/libs/require.js"></script>
  </body>
</html>